@import "../../sass/variables.scss";

.image-content {
  display: block;
  padding: 50px 0 0 0;

  &.header .image-content-inner {
    flex-direction: column-reverse;

    .image-content-content {
      margin-bottom: 30px;
    }
  }

  @media all and (min-width: $tablet) {
    padding: 150px 0 0 0;

    &.header .image-content-inner {
      flex-direction: row;
    }

    &.reversed {
      text-align: right;

      .image-content-inner {
        flex-direction: row-reverse;
      }
    }
  }
}

.image-content-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .image-content-content {
    flex: 0 0 100%;
    margin-top: 30px;

    h1 {
      margin: 0;
      font-size: 14px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    h2 {
      margin: 0;
      font-size: 32px;
      line-height: 1.2em;
    }

    a {
      color: $white;
      font-weight: 600;
      font-size: 18px;
      padding: 15px 30px;
      border-radius: 3px;
      box-sizing: border-box;
      text-decoration: none;
      display: inline-block;
      background-color: $purple;
    }
  }

  .image-content-image {
    width: 100%;
    height: 300px;
    display: block;
    background: rgba($purple, 0.2);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
    }
  }

  @media all and (min-width: $tablet) {
    .image-content-content {
      margin-top: 0 !important;
      flex: 0 0 calc(45% - 30px);
      margin-bottom: 0 !important;
    }

    .image-content-image {
      width: auto;
      height: 500px;
      flex: 0 0 calc(55% - 30px);
    }
  }
}
