// fonts
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200;400;700&display=swap");
$mplus: "M PLUS 1", sans-serif;

// colours
$purple: #801e7d;
$white: #ffffff;
$black: #000000;

// breakpoints
$mobile: 640px;
$tablet: 960px;
$desktop: 1280px;
