@import "../../sass/variables.scss";

.icon-row {
  display: block;
  padding: 50px 0 0 0;

  .icon-row-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .icon-row-block {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 50px;

    h3 {
      margin: 8px 0 10px 0;
    }

    p {
      margin: 0;
    }

    svg {
      height: 50px;
      width: 50px;

      * {
        fill: $purple;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media all and (min-width: $tablet) {
    padding: 150px 0 0 0;

    .icon-row-block {
      margin-bottom: 0;
      flex: 0 0 calc(33.333% - 50px);
    }
  }
}
